/* manual.css -*- Java -*- */

pre {
    border-style: dashed;
    border-color: black;
    border-width: 1;
    width: 70%;
    position: relative;
    left: 5%;
    padding: 1em;
    background-color: #eee;
}
